In [1]:
!pip install seaborn joblib

Requirement already satisfied: seaborn in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: joblib in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (1.4.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\navne\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [34]:
# Load dataset from CSV file
df = pd.read_csv(r"C:\Users\navne\Downloads\notebooks\ad_camp\ad_camp_performance\tiktok_digital_marketing_data.csv")

In [35]:
df.head(3)

,Unnamed: 0,Hashtag,Content,Type,ContentType,UserDemographic,Likes,Shares,Comments,Views,Location,AgeGroup,Gender,PreferredMajor,InterestInScholarships,TimeSpentOnContent
0,0,#StudyTips,LiveStream,Promotional,Cooking,Alumni,103,62,194,5464,Bekasi,35-44,Male,Business,3,31
1,1,#CampusTour,Image,Engagement,IT,Parent,436,370,4,7748,Depok,35-44,Female,Law,4,49
2,2,#StudentExperience,Image,Engagement,Education,Alumni,442,58,153,9333,Depok,19-24,Female,Law,2,16

In [36]:
import pandas as pd

# Assume df is your original DataFrame
rename_map = {
    'Hashtag': 'CampaignType',
    'Content': 'MediaFormat',
    'Type': 'MediaType',
    'ContentType': 'AudienceInterest',
    'UserDemographic': 'UserCategory',
    'Likes': 'EngagementLikes',
    'Shares': 'EngagementShares',
    'Comments': 'EngagementComments',
    'Views': 'Impressions',
    'Location': 'City',
    'AgeGroup': 'AgeRange',
    'Gender': 'Gender',
    'PreferredMajor': 'InterestMajor',
    'InterestInScholarships': 'IntentScore',
    'TimeSpentOnContent': 'EstimatedLoanDisbursal'
}

df.rename(columns=rename_map, inplace=True)
# Remove the '#' from the CampaignTag column values
df['CampaignType'] = df['CampaignType'].str.replace('#', '', regex=False)

In [42]:
df.head(2)

,Unnamed: 0,CampaignType,MediaFormat,MediaType,AudienceInterest,UserCategory,EngagementLikes,EngagementShares,EngagementComments,Impressions,City,AgeRange,Gender,InterestMajor,IntentScore,EstimatedLoanDisbursal
0,0,StudyTips,LiveStream,Promotional,0,Alumni,103,62,194,5464,0,35-44,Male,0,3,31
1,1,CampusTour,Image,Engagement,1,Parent,436,370,4,7748,1,35-44,Female,1,4,49

In [43]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [44]:
df.isnull().sum()

CampaignType              0
MediaFormat               0
MediaType                 0
AudienceInterest          0
UserCategory              0
EngagementLikes           0
EngagementShares          0
EngagementComments        0
Impressions               0
City                      0
AgeRange                  0
Gender                    0
InterestMajor             0
IntentScore               0
EstimatedLoanDisbursal    0
dtype: int64

In [45]:
df.dropna(inplace=True)

In [46]:
CampaignType        = df['CampaignType'].unique().tolist()
MediaFormat        = df['MediaFormat'].unique().tolist()
MediaType          = df['MediaType'].unique().tolist()
AudienceInterest   = df['AudienceInterest'].unique().tolist()
UserCategory       = df['UserCategory'].unique().tolist()
City               = df['City'].unique().tolist()
AgeRange           = df['AgeRange'].unique().tolist()
Gender             = df['Gender'].unique().tolist()
InterestMajor      = df['InterestMajor'].unique().tolist()

In [62]:
df.head(1)    #used in retraing

,CampaignType,MediaFormat,MediaType,AudienceInterest,UserCategory,EngagementLikes,EngagementShares,EngagementComments,Impressions,City,AgeRange,Gender,InterestMajor,IntentScore,EstimatedLoanDisbursal
0,StudyTips,LiveStream,Promotional,0,Alumni,103,62,194,5464,0,35-44,Male,0,3,31

In [13]:
from sklearn.preprocessing import LabelEncoder

# Columns to encode
categorical_columns = ['CampaignType', 'MediaFormat', 'MediaType', 'AudienceInterest', 
                       'UserCategory', 'City', 'AgeRange', 'Gender', 'InterestMajor']

# Initialize label encoders
label_encoders = {col: LabelEncoder() for col in categorical_columns}

# Apply label encoding to each categorical column
for col, le in label_encoders.items():
    df[col] = le.fit_transform(df[col])

# Check the encoded data
df.head()

,CampaignType,MediaFormat,MediaType,AudienceInterest,UserCategory,EngagementLikes,EngagementShares,EngagementComments,Impressions,City,AgeRange,Gender,InterestMajor,IntentScore,EstimatedLoanDisbursal
0,4,1,2,2,0,103,62,194,5464,1,3,1,1,3,31
1,0,0,0,6,3,436,370,4,7748,2,3,0,3,4,49
2,3,0,0,4,0,442,58,153,9333,2,1,0,3,2,16
3,3,3,0,6,2,271,189,176,582,1,3,0,1,3,43
4,1,2,1,4,0,107,337,26,5648,1,0,1,0,4,22

In [14]:
print(df.columns)

Index(['CampaignType', 'MediaFormat', 'MediaType', 'AudienceInterest',
       'UserCategory', 'EngagementLikes', 'EngagementShares',
       'EngagementComments', 'Impressions', 'City', 'AgeRange', 'Gender',
       'InterestMajor', 'IntentScore', 'EstimatedLoanDisbursal'],
      dtype='object')

In [15]:
from sklearn.preprocessing import LabelEncoder
import joblib

# Initialize a dictionary to store label encoders
label_encoders = {}

# Define categorical columns
categorical_columns = ['CampaignType', 'MediaFormat', 'MediaType', 'AudienceInterest', 'UserCategory', 
                       'City', 'AgeRange', 'Gender', 'InterestMajor']

# Apply label encoding to each categorical column
for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])  # Transform the column
    label_encoders[col] = le  # Store the encoder

# Save the label encoders
joblib.dump(label_encoders, r'C:\Users\navne\Downloads\notebooks\ad_camp\tiktok\label_encoders.joblib')

['C:\\Users\\navne\\Downloads\\notebooks\\ad_camp\\tiktok\\label_encoders.joblib']

In [16]:
df.head(2)

,CampaignType,MediaFormat,MediaType,AudienceInterest,UserCategory,EngagementLikes,EngagementShares,EngagementComments,Impressions,City,AgeRange,Gender,InterestMajor,IntentScore,EstimatedLoanDisbursal
0,4,1,2,2,0,103,62,194,5464,1,3,1,1,3,31
1,0,0,0,6,3,436,370,4,7748,2,3,0,3,4,49

# Feature Analysis

# Feature Selection

In [17]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame
X = df.drop(columns=['EstimatedLoanDisbursal'])
y = df['EstimatedLoanDisbursal']

# Encode categorical variables (light encoding)
X_encoded = pd.get_dummies(X, drop_first=True)

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Train a Random Forest
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Get feature importances
importances = pd.Series(model.feature_importances_, index=X_train.columns)
importances_sorted = importances.sort_values(ascending=False)

# Keep only top N important features (e.g., those above median importance)
threshold = importances_sorted.median()
selected_features = importances_sorted[importances_sorted > threshold].index.tolist()

print("✅ Selected Features:")
print(selected_features)

# Filter dataset
X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]

✅ Selected Features:
['EngagementLikes', 'Impressions', 'EngagementShares', 'EngagementComments', 'AudienceInterest', 'InterestMajor', 'City']

# Retrain one go

In [59]:
#smaller

import pandas as pd
import joblib
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor  # or use GradientBoostingRegressor


# Define features and target
FEATURES = [
    'EngagementLikes',
    'Impressions',
    'EngagementShares',
    'EngagementComments',
    'AudienceInterest',
    'InterestMajor',
    'City'
]
TARGET = 'EstimatedLoanDisbursal'

# Factorize categorical columns and store mappings
mappings = {}
for col in ['AudienceInterest', 'InterestMajor', 'City']:
    df[col], uniques = pd.factorize(df[col])
    mappings[col] = dict(zip(uniques, range(len(uniques))))

# Train-test split
X = df[FEATURES]
y = df[TARGET]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 🔽 OPTION 1: Optimized Random Forest (smaller, faster)
model = RandomForestRegressor(
    n_estimators=50,
    max_depth=6,
    min_samples_leaf=5,
    random_state=42
)

# 🔽 OPTION 2: Even smaller Gradient Boosting model (uncomment to use instead)
# from sklearn.ensemble import GradientBoostingRegressor
# model = GradientBoostingRegressor(
#     n_estimators=100,
#     learning_rate=0.1,
#     max_depth=4,
#     random_state=42
# )

# Train model
model.fit(X_train, y_train)

# Save the model with compression
joblib.dump(model, "regression_model.joblib", compress=3)
joblib.dump(mappings, "category_mappings.joblib")

print("✅ Lean model and mappings saved!")

✅ Lean model and mappings saved!